.documentation-page {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.titre-h1-fondnoir {
  color: white;
  padding: 40px 0 40px 0;
  background-color: var(--neutral-800);
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.documentationContainer {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 80px 40px;
  background-color: var(--neutral-300);
}

.documentation-conteneur {
  width: 70%;
}

.titre-bloc-intro {
  text-align: left;
}

.bloc-intro-doc {
  text-align: justify;
  margin: 40px 0;
}

.liste-cards {
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
