.quiz-page {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* padding: 40px; */
  border: 3px solid orange;
}

.quiz-page > h1 {
  margin-bottom: 40px;
}

/* .jobs {
  height: 100vh;
} */
.jobsContainer {
  display: flex;
  justify-items: center;
  width: 100%;
  height: calc(100vh - 50px - 80px - 40px);
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.jobsFrame {
  width: 50vw;
  height: 50vh;
  background-color: white;
  /* border-radius: 30px; */
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topjobsFrame h1 {
  margin-bottom: 20px;
}
.jobsFrame h1 {
  color: var(--blue-enedis);
}

.jobjobsFrame {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.jobsFrameBtn {
  display: flex;
  color: whitesmoke;
  /* outline: 1px solid var(--blue-enedis); */
  height: 300px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  align-items: flex-end;
  box-shadow: inset 0px -80px 60px -40px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.jobsFrameBtn:hover {
  transform: scale(102%);
  transition: 0.1s;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.15),
    inset 0px -80px 60px -40px rgba(0, 0, 0, 0.9);
}

.linkJobs {
  width: 30%;
}

.jobsFrameBtn img {
  height: 100%;
  z-index: -1;
}

.jobsFrameBtn h2 {
  display: flex;
  z-index: 2;
  background-color: transparent;
  position: absolute;
  /*   -webkit-text-stroke: 1px black; */
}

.jobsFrameTech {
  background-image: url("../../assets/techs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jobsFrameAutres {
  background-image: url("../../assets/autres.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btnjobsFrame {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*   outline: 1px solid red; */
  align-items: flex-end;
}

.btnjobsFrame button {
  background-color: var(--green-enedis); /* Green */
  border: none;
  color: whitesmoke;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.btnjobsFrame:hover button {
  background-color: var(--green-enedis); /* Green */
  color: whitesmoke;
  box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.15);
}

.radioJob {
  margin: 8px;
}

.radioJob label {
  margin-left: 20px;
}

.radioJob input[type="radio"] {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  background-color: red;
}

.radioJob input[type="radio"]:checked:after {
  /*   width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white; */
}
