.navbar {
  background-color: white;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px ;
}

.white-navbar-logo{
width: 10rem;
margin: -10px 0 0 -20px;
}

.navbar-item {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
  width: fit-content;
}

.navbar-link {
  color: white;
  background-color: var(--blue-500);
  font-size: 16px;
  margin-left: 20px;
  padding: 8px 20px;
  width: 100%;
  /* border: 2px solid var(--blue-700); */
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
