.navbar {
  background-color: transparent;

  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  /*   border: 2px solid pink; */
  align-items: center;
  justify-content: space-between;
}

.white-navbar-logo {
  width: 10rem;
}

.navbar-item {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
  width: fit-content;
}

.navbar-link {
  color: white;
  background-color: var(--blue-500);
  font-size: 16px;
  margin-left: 20px;
  padding: 8px 20px;
  width: 100%;
  /* border: 2px solid var(--blue-700); */
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.navbar-link:hover {
  box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.15);
}
